# Enable proto3 optional fields
build --proto_compiler=@com_google_protobuf//:protoc
build --protocopt=--experimental_allow_proto3_optional

# Set C++ standard to C++14
build --cxxopt=-std=c++14
build --host_cxxopt=-std=c++14

# Enable deprecated java_common.compile parameters
build --incompatible_java_common_parameters=false

# Disabel bazelmod by default
build --noenable_bzlmod