name: Build OpenSearch Protobufs JAVA Artifact JARs

on:
  pull_request:

jobs:
  build-protobufs-java:
    runs-on: ubuntu-latest
    if: github.repository == 'opensearch-project/opensearch-protobufs'

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin # Temurin is a distribution of adoptium
          java-version: 25
      - name: build protobufs java
        run: ./tools/java/package_proto_jar.sh -c true
