name: Build OpenSearch Protobufs JAVA Artifact JARs - empty change to trigger Mend

on:
  pull_request:

jobs:
  build-protobufs-java:
    strategy:
      matrix:
        java:
          - 21
          - 25
    runs-on: ubuntu-latest
    if: github.repository == 'opensearch-project/opensearch-protobufs'

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin # Temurin is a distribution of adoptium
          java-version: ${{ matrix.java }}
      - name: build protobufs java
        run: ./tools/java/package_proto_jar.sh -c true
