name: Build OpenSearch Protobufs GO Artifacts

on:
  pull_request:

jobs:
  build-protobufs-go:
    runs-on: ubuntu-latest
    if: github.repository == 'opensearch-project/opensearch-protobufs'

    steps:
      - uses: actions/checkout@v4
      - name: build protobufs go
        run: bazel build //:go_protos_all
